body {
    font-family: 'Recursive', sans-serif;
    list-style-type: none;
}
.ul-menu {
    background-color: #333; 
    color: #fff; 
    list-style-type: none;
}

.li-menu {
    float: left;
}

.a-menu {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    padding: 20px;
}

.a-menu:hover {
    background-color: #000;
}

.title-menu {
    font-size: 30px;
    display: block;
    padding: 15px;
    text-align: center;
    font-family: 'Recursive', sans-serif;
}

.column {
    width: 50%;
    float: left;
    text-align: center;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.social-icons {
    font-size: 20px;
    color: #333;
}

.left {
    width: 30%;
    float: left;
}

.right {
    width: 70%;
    float: left;
}

.row {
    padding: 10px;
}

.row:after {
    display: table;
    clear: both;
    content: "";
}

.main-bar {
    background-color: #333;
    display: block;
    height: 17px;
}

.main-bar span {
    background-color:teal;
    display: block;
    height: 17px;
    color: white;
    font-size: 14px;
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 85%;
    animation: css 3s;
}

.javascript {
    width: 79%;
    animation: javascript 3s;
}

.mvc {
    width: 88%;
    animation: mvc 3s;
}

.symfony {
    width: 80%;
    animation: symfony 3s;
}

@keyframes html {
    0% {
        width: 0%;
        background-color: rgb(255, 246, 127);  
      }
      100% {
          width: 90%;
          background-color: rgb(127, 214, 255);   
        }
}

@keyframes css {
    0% {
      width: 0%;
      background-color: rgb(255, 246, 127);  
    }
    100% {
        width: 85%;
        background-color: rgb(127, 214, 255);   
      }
}

@keyframes javascript {
    0% {
      width: 0%;
      background-color: rgb(255, 246, 127);  
    }
    100% {
        width: 79%;
        background-color: rgb(127, 214, 255);   
      }
}

@keyframes mvc {
    0% {
      width: 0%;
      background-color: rgb(255, 246, 127);  
    }
    100% {
        width: 88%;
        background-color: rgb(127, 214, 255);   
      }
}

@keyframes symfony {
    0% {
      width: 0%;
      background-color: rgb(255, 246, 127);  
    }
    100% {
        width: 80%;
        background-color: rgb(127, 214, 255);   
      }
}

.footer {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 10px;
}

.project {
    width: 300px;
    float: left;
    text-align: center;
    width: 430px;

}

.project img {
    width: 250px;
    height: 150px;
}

@media screen and (max-width:800px) {
    .column {
        width:100%;
    }

    .a-menu {
    font-size: 15px;
    padding: 18px;
    }

    .title-menu {
    font-size: 20px;
    }
}